*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.65rem;
  padding: 1.25rem 1.2rem;
  color: #1e5dbc;
}
.logo--extra {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #ffffff;
}
.logo__svg > svg {
  height: 2.25rem;
  width: 2.25rem;
}
.logo__text {
  font-weight: 600;
}

.about {
  width: 100%;
}

.contact {
  width: 100%;
}
.contact__main {
  margin: 5.25rem 0;
  height: 62rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact__inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}
.contact__heading {
  font-size: 3.95rem;
  color: #534847;
}
.contact__sub-heading {
  color: #534847;
  font-size: 1.4rem;
}
.contact-jumbotron {
  width: 100%;
  position: relative;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-jumbotron__text {
  font-weight: 500;
  font-size: 6.95rem;
  color: #1e5dbc;
}
.contact-jumbotron__left, .contact-jumbotron__right {
  bottom: 0;
}
.contact-jumbotron__left {
  position: absolute;
  left: 0;
}
.contact-jumbotron__right {
  position: absolute;
  right: 0;
}

.form {
  display: flex;
  width: 45%;
  flex-direction: column;
  row-gap: 2.25rem;
}
.form__label {
  color: #1e5dbc;
  font-size: 1.2rem;
  font-weight: 500;
}
.form__submit {
  border: 0;
  background-color: #1e5dbc;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.85rem 2.85rem;
  border-radius: 2.5px;
}
.form__textarea {
  resize: none;
}
.form__input, .form__textarea {
  padding: 10px 8px;
  border: 2px solid rgba(83, 72, 71, 0.85);
  font-family: inherit;
  border-radius: 2.5px;
}
.form__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.65rem;
}
.form__container--50 {
  width: 48.5%;
}

.footer {
  width: 100%;
  height: 34rem;
  background-color: #1e5dbc;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 4.5rem 0;
}
.footer__container {
  gap: 4.65rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.footer__small {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.footer__up {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer__down {
  text-align: center;
  color: #ffffff;
  font-size: 1.45rem;
  font-weight: 300;
}
.footer__div {
  display: flex;
  flex-direction: column;
  gap: 2.85rem;
}
.footer__div--1 {
  width: 35%;
}
.footer__div--2 {
  width: 15%;
}
.footer__div--3 {
  width: 40%;
}
.footer__primary-goal {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.45rem;
}
.footer__socials {
  display: flex;
  gap: 2.25rem;
}
.footer__social svg {
  width: 2.45rem;
  height: 2.45rem;
}
.footer__links {
  height: 100%;
  list-style-type: none;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.footer__links-href {
  text-decoration: none;
  color: #e8f8fe;
}
.footer__links-href:hover {
  color: #ffffff;
}
.footer__links-span {
  display: inherit;
  flex-direction: column;
  gap: 2rem;
}
.footer__links-list {
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
}
.footer__newsletter {
  width: 100%;
  height: 5.2rem;
  border: 2px solid #fff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.footer__newsletter-email {
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.65rem 1.1rem;
}
.footer__newsletter-email:focus, .footer__newsletter-email:active {
  outline: none;
}
.footer__newsletter-subscribe {
  cursor: pointer;
  width: 30%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  color: #ffffff;
  text-align: center;
  background-color: #1e5dbc;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.footer__newsletter-subscribe:hover {
  font-size: 1.65rem;
}

.gist {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fcff;
}
.gist__container {
  height: 75%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gist__part {
  color: #534847;
}
.gist__part--1 {
  width: 40%;
}
.gist__part--2 {
  line-height: 3rem;
  width: 55%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.gist__heading {
  font-size: 6.65rem;
  border-bottom: 6.5px solid #1e5dbc;
}
.gist__small {
  display: inline-block;
  font-size: 2.3rem;
}
.gist__small--2 {
  color: #1e5dbc;
}

.home {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(216, 223, 233, 0.2), transparent), url("./assets/images/balance-your-diet.jpg");
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: top right;
}
.home__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.home__header {
  font-size: 11rem;
  color: #1e5dbc;
  line-height: 12rem;
}
.home__container {
  width: 80%;
  margin: 10.5rem 0;
}
.home__small {
  width: 35%;
  display: block;
  font-size: 2.1rem;
  color: #534847;
}
.home__button {
  border: 0;
  font-family: inherit;
  font-size: 1.45rem;
  font-weight: 500;
  width: 14.5rem;
  padding: 1.42rem 0;
  background-color: #1e5dbc;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.latest-ebook-section {
  width: 100%;
  height: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 8.5rem 0;
}
.latest-ebook-section__inner {
  width: 80%;
  background-image: url("./assets/images/latest-ebook-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
  display: inherit;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem 3rem;
}
.latest-ebook-section__heading {
  font-size: 4.5rem;
  color: #1e5dbc;
}
.latest-ebook-section__text {
  width: 52%;
  display: inline-block;
  font-size: 2.15rem;
  color: #424446;
}
.latest-ebook-section__books {
  width: 32%;
  display: inherit;
  gap: 1.25rem;
  height: 19rem;
}
.latest-ebook-section__book {
  width: 100%;
  height: 100%;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__inner {
  width: 80%;
}
.login__heading {
  color: #534847;
  font-size: 2.05rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.25rem;
}
.login__container {
  width: 100%;
  height: 72rem;
  display: flex;
  gap: 2rem;
}
.login__left {
  width: 25%;
  align-self: center;
}
.login__right {
  width: 75%;
}
.login__div {
  display: flex;
  flex-direction: column;
}
.login__div--1, .login__div--2 {
  margin-bottom: 5.24rem;
}
.login__input-text {
  font-size: 1.45rem;
  font-weight: 500;
}
.login__input-widget {
  outline: none;
  padding: 1.85rem 0 0.65rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #534847;
}
.login__button {
  font-size: 1.45rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 1.65rem 0;
  color: #f9fcff;
  background-color: #1e5dbc;
  border-radius: 6.5px;
  margin-bottom: 1.62rem;
}
.login__link {
  text-decoration: none;
  color: #1e5dbc;
}
.login__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
  padding-top: 0.55rem;
}
.login__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  height: 9.5rem;
  padding: 4.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}
.navbar__container {
  height: 80%;
  width: 80%;
  background-color: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: inherit;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__part--2 {
  width: 50%;
}
.navbar__homelink {
  text-decoration: none;
}
.navbar__list {
  list-style: none;
  text-transform: capitalize;
  font-size: 1.65rem;
  display: flex;
  gap: 2.8rem;
  justify-content: center;
}
.navbar__list-href {
  cursor: pointer;
  text-decoration: none;
  color: #534847;
}
.navbar__list-href:active {
  font-weight: 600;
}
.navbar__list-href:hover {
  color: #000;
}
.navbar__buttons {
  display: flex;
  gap: 1.62rem;
}
.navbar__button {
  width: 10rem;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.65rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #1e5dbc;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.navbar__button--login {
  color: #1e5dbc;
  background-color: #ffffff;
}
.navbar__button--register {
  color: #ffffff;
  background-color: #1e5dbc;
}

.notfound {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound__inner {
  width: 80%;
  margin: 5rem 0 25rem;
}
.notfound__image {
  width: 9%;
}
.notfound__divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.85rem;
}
.notfound__heading {
  font-size: 4.5rem;
  text-transform: uppercase;
}
.notfound__text {
  color: #534847;
  font-size: 1.55rem;
}
.notfound__link {
  padding: 2rem 4.2rem;
  background-color: #1e5dbc;
  color: #ffffff;
  font-size: 1.55rem;
  text-decoration: none;
  border-radius: 50rem;
  font-weight: 500;
}

.ratings {
  width: 100%;
  height: 30rem;
  background-color: #f9fcff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratings__inner {
  background-color: #ffffff;
  width: 80%;
  display: inherit;
  align-items: center;
  justify-content: space-around;
  padding: 4.25rem 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ratings__container {
  display: inherit;
  flex-direction: column;
  text-align: center;
}
.ratings__number {
  color: #1e5dbc;
  font-size: 8.5rem;
  font-weight: 600;
  letter-spacing: -0.45rem;
}
.ratings__text {
  color: #424446;
  font-size: 1.82rem;
  text-transform: capitalize;
  font-weight: 500;
}

.recent-post {
  width: 100%;
  height: 44rem;
  background-color: #ffffff;
  padding: 9.65rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-post__status {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  color: #d9e8ff;
  background-color: #1e5dbc;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.recent-post__container {
  height: 100%;
  width: 80%;
  display: inherit;
}
.recent-post__left {
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.recent-post__right {
  width: 50%;
  background-color: #f9fcff;
  display: inherit;
  padding: 0 3.25rem;
}
.recent-post__right-inner {
  display: inherit;
  flex-direction: column;
  height: 84%;
  align-self: center;
  justify-content: space-around;
}
.recent-post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
}
.recent-post__heading-text {
  font-size: 3.65rem;
  color: #1e5dbc;
}
.recent-post__description {
  font-size: 1.82rem;
  color: #534847;
}
.recent-post__icon {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.recent-post__icon-svg {
  display: inline-flex;
  border-radius: 50%;
  padding: 0.9rem;
}
.recent-post__icon-svg svg {
  width: 2.5rem;
  height: 2.5rem;
}
.recent-post__icon-svg--left {
  background-color: #e8f8fe;
}
.recent-post__icon-svg--left svg {
  fill: #1e5dbc !important;
}
.recent-post__icon-svg--right {
  background-color: #faf3eb;
}
.recent-post__icon-svg--right svg {
  fill: #ff9900 !important;
}
.recent-post__info {
  display: inherit;
  gap: 2rem;
  font-size: 1.8rem;
}
.recent-post__button {
  width: fit-content;
  display: inherit;
  gap: 2rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #1e5dbc;
  background-color: #d9e8ff;
  padding: 1rem 2.95rem;
}
.recent-post__arrow {
  display: inline-flex;
}

.recent-post-video {
  width: 100%;
  background-color: #ffffff;
  height: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;
}
.recent-post-video__inner {
  height: 90%;
  width: 80%;
  display: inherit;
}
.recent-post-video__left {
  width: 50%;
  position: relative;
}
.recent-post-video__description {
  width: 80%;
}
.recent-post-video__right {
  width: 50%;
  display: inherit;
  flex-direction: column;
  gap: 3.65rem;
  padding-top: 5.5rem;
  padding-left: 3rem;
  background-color: #f9fcff;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-post__video {
  height: 100%;
  width: 100%;
  position: relative;
}
.recent-post__video::before {
  content: "";
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
}
.recent-post__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recent-post__play svg {
  border-radius: 50%;
  padding: 2rem;
  background-color: #ffffff;
  fill: #1e5dbc;
  width: 2rem;
  height: 2rem;
}

.testimonials {
  width: 100%;
  height: 68rem;
  padding: 5.2rem 0;
  background-color: #f9fcff;
  display: flex;
  justify-content: center;
}
.testimonials__inner {
  width: 80%;
  display: inherit;
  flex-direction: column;
  gap: 5.2rem;
}
.testimonials__container {
  display: inherit;
}
.testimonials__container--1 {
  text-align: center;
  flex-direction: column;
  gap: 1.2rem;
}
.testimonials__container--2 {
  justify-content: space-between;
}
.testimonials__header {
  font-size: 4.25rem;
  color: #1e5dbc;
}
.testimonials__text {
  font-size: 1.82rem;
  color: #424446;
}

.testimony {
  width: 25%;
  height: 40rem;
  padding: 1rem 2.65rem;
  color: #424446;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimony__text {
  font-size: 1.82rem;
}
.testimony__name {
  font-size: 2.15rem;
  font-weight: 600;
}
.testimony__quote svg {
  width: 12rem;
  height: 12rem;
  fill: #1e5dbc;
}

.send {
  width: 100%;
  height: 21rem;
  background-color: #f9fcff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send__inner {
  height: 62%;
  width: 80%;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  position: relative;
}
.send__heading {
  font-weight: 600;
  font-size: 3.6rem;
  text-align: center;
  color: #1e5dbc;
}
.send__div--1 {
  width: 60%;
}
.send__div--2 {
  display: inherit;
  justify-content: center;
}
.send__link {
  font-weight: 500;
  font-size: 1.45rem;
  padding: 1.62rem 2rem;
  color: #e8f8fe;
  background-color: #1e5dbc;
}
.send-left-svg {
  position: absolute;
  left: 0;
}
.send-right-svg {
  position: absolute;
  right: 0;
}
.send__text {
  width: 60%;
  font-size: 2rem;
  text-align: center;
  color: #424446;
}

.signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__inner {
  width: 80%;
  height: 72rem;
  display: inherit;
  gap: 1.85rem;
}
.signup__heading {
  font-size: 1.95rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}
.signup__left {
  width: 25%;
  align-self: center;
}
.signup__right {
  width: 75%;
}
.signup__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signup__div {
  display: flex;
  flex-direction: column;
}
.signup__div:not(:last-child) {
  margin-bottom: 2.85rem;
}
.signup__div--radio {
  flex-direction: row;
  align-items: center;
  gap: 1.85rem;
}
.signup__input-text {
  font-size: 1.45rem;
  font-weight: 500;
}
.signup__input-widget {
  outline: none;
  padding: 1.85rem 0 0.65rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #534847;
}
.signup__button {
  color: #d9e8ff;
  background-color: #1e5dbc;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  padding: 1.2rem 3.25rem;
  border-radius: 6px;
  cursor: pointer;
}
.signup__button:hover {
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
