*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.65rem;
  padding: 1.25rem 1.2rem;
  color: #1e5dbc;
}
.logo--extra {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #ffffff;
}
.logo__svg > svg {
  height: 2.25rem;
  width: 2.25rem;
}
.logo__text {
  font-weight: 600;
}

.footer {
  width: 100%;
  height: 34rem;
  background-color: #1e5dbc;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 4.5rem 0;
}
.footer__container {
  gap: 4.65rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.footer__small {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.footer__up {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer__down {
  text-align: center;
  color: #ffffff;
  font-size: 1.45rem;
  font-weight: 300;
}
.footer__div {
  display: flex;
  flex-direction: column;
  gap: 2.85rem;
}
.footer__div--1 {
  width: 35%;
}
.footer__div--2 {
  width: 15%;
}
.footer__div--3 {
  width: 40%;
}
.footer__primary-goal {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.45rem;
}
.footer__socials {
  display: flex;
  gap: 2.25rem;
}
.footer__social svg {
  width: 2.45rem;
  height: 2.45rem;
}
.footer__links {
  height: 100%;
  list-style-type: none;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.footer__links-span {
  display: inherit;
  flex-direction: column;
  gap: 2rem;
}
.footer__links-list {
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
}
.footer__newsletter {
  width: 100%;
  height: 5.2rem;
  border: 2px solid #fff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.footer__newsletter-email {
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.65rem 1.1rem;
}
.footer__newsletter-email:focus, .footer__newsletter-email:active {
  outline: none;
}
.footer__newsletter-subscribe {
  cursor: pointer;
  width: 30%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  color: #ffffff;
  text-align: center;
  background-color: #1e5dbc;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.footer__newsletter-subscribe:hover {
  font-size: 1.65rem;
}

.home {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(216, 223, 233, 0.2), transparent), url("./assets/images/balance-your-diet.jpg");
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: top right;
}
.home__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.home__header {
  font-size: 11rem;
  color: #1e5dbc;
  line-height: 12rem;
}
.home__container {
  width: 80%;
  margin: 10.5rem 0;
}
.home__small {
  width: 35%;
  display: block;
  font-size: 2.1rem;
  color: #534847;
}
.home__button {
  border: 0;
  font-family: inherit;
  font-size: 1.45rem;
  font-weight: 500;
  width: 14.5rem;
  padding: 1.42rem 0;
  background-color: #1e5dbc;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  height: 9.5rem;
  padding: 4.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}
.navbar__container {
  height: 80%;
  width: 80%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: inherit;
  align-items: center;
  justify-content: space-around;
}
.navbar__part--2 {
  width: 50%;
}
.navbar__list {
  list-style: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  gap: 4.45rem;
  justify-content: center;
  cursor: pointer;
  color: #534847;
}
.navbar__list:active {
  font-weight: 600;
}
.navbar__list-item:hover {
  color: #000;
}
.navbar__buttons {
  display: flex;
  gap: 1.62rem;
}
.navbar__button {
  width: 10rem;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 2.2rem;
  border-radius: 5px;
  border: 1px solid #1e5dbc;
  cursor: pointer;
}
.navbar__button--login {
  color: #1e5dbc;
  background-color: #ffffff;
}
.navbar__button--register {
  color: #ffffff;
  background-color: #1e5dbc;
}

.gist {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fcff;
}
.gist__container {
  height: 75%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gist__part {
  color: #534847;
}
.gist__part--1 {
  width: 40%;
}
.gist__part--2 {
  line-height: 3rem;
  width: 55%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.gist__heading {
  font-size: 6.65rem;
  border-bottom: 6.5px solid #1e5dbc;
}
.gist__small {
  display: inline-block;
  font-size: 2.3rem;
}
.gist__small--2 {
  color: #1e5dbc;
}

.recent-post {
  width: 100%;
  height: 52rem;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-post__container {
  height: 100%;
  width: 80%;
  border: 1px solid #333;
  display: inherit;
}

/*# sourceMappingURL=main.css.map */
