.about {
  width: 100%;

  &-jumbotron__text {
    font-size: 4.95rem;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__welcome {
    width: 100%;
    // border: 1px  solid orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 2rem;

    &-inner {
      margin: 6.25rem 0;
      width: $default-inner-width;
      //   border: 1px solid orangered;
      display: inherit;
      flex-direction: column;
      gap: 1.2rem;
    }

    &-down {
      //   border: 1px solid green;
      height: 80rem;
      overflow: hidden;
      border-radius: 4.5px;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-you {
      background-color: $color-primary;
      color: $color-white;
      padding: 0.45rem 0.85rem;
      border-radius: 4.5px;
    }
  }

  &__welcome-h2 {
    font-size: 1.65rem;
    font-weight: 500;
    color: $color-grey;
  }

  &__vision {
    width: 100%;
    // border: 1px solid orangered;
    margin-bottom: 10rem;

    &-h2 {
      color: $color-grey;
      font-size: 2.25rem;
      font-weight: 600;
      margin-bottom: 16.25px;
      border-bottom: 4.5px solid $color-primary;
      display: inline-block;
    }

    &-text {
      font-size: 1.45rem;
      color: $color-grey;
      line-height: 1.85rem;
    }

    &-inner {
      margin: 0 auto;
      width: $default-inner-width;
      //   border: 1px solid green;
      display: flex;
      gap: 2rem;
      justify-content: center;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4.5px;
    }

    &-left {
      width: 30%;
      height: 32rem;
    }

    &-right {
      width: 40%;
      text-align: justify;
    }
  }
}

.team {
  width: 100%;
  height: 43rem;
  background-color: $color-orange-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  &__h2 {
    font-size: 1.95rem;
    color: $color-grey;
    font-weight: 800;
  }

  &__inner {
    width: $default-inner-width;
    height: 80%;
    display: inherit;
    flex-direction: column;
    gap: 1.2rem;
    // border: 1px solid #333;
  }

  &__down {
    display: flex;
    gap: 1rem;
  }

  &-member {
    width: 16rem;
    height: 20rem;
    // border: 1px solid #333;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4.5px;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__name,
  &__title {
    color: $color-grey;
  }

  &__title {
    font-weight: 800;
    font-size: 1rem;
  }
}
