.footer {
  width: 100%;
  height: 34rem;
  background-color: $color-primary;

  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 4.5rem 0;

  &__container {
    gap: 4.65rem;
    display: flex;
    flex-direction: column;
    width: $default-inner-width;
  }

  &__small {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  &__up,
  &__down {
    // border: 1px solid #fff;
  }

  &__up {
    color: $color-white;
    display: flex;
    justify-content: space-between;
  }

  &__down {
    text-align: center;
    color: $color-white;
    font-size: 1.45rem;
    font-weight: 300;
  }

  &__div {
    display: flex;
    flex-direction: column;
    gap: 2.85rem;
    // border: 1px solid #fff;

    &--1 {
      width: 35%;
    }

    &--2 {
      width: 15%;
    }
    &--3 {
      width: 40%;
    }
  }

  &__primary-goal {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2.45rem;
  }

  &__socials {
    display: flex;
    gap: 2rem;
  }

  &__social {
    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__links {
    // border: 1px solid #fff;
    height: 100%;
    list-style-type: none;
    font-weight: 300;
    display: flex;
    justify-content: space-between;

    &-span {
      display: inherit;
      flex-direction: column;
      gap: 2rem;
    }
    &-list {
      cursor: pointer;
      display: inline-block;
    }
  }

  &__newsletter {
    width: 100%;
    height: 5.2rem;
    border: 2px solid #fff;
    display: flex;

    &-email {
      border: 0;
      width: 100%;
      font-size: 1.5rem;
      font-family: inherit;
      padding: 1.65rem 1.1rem;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &-subscribe {
      cursor: pointer;
      width: 30%;
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: 600;
      border: 0;
      padding: 1.4rem 0.9rem;
      color: $color-white;
      text-align: center;
      background-color: $color-primary;
      transition: all 0.2s;

      &:hover {
        font-size: 1.65rem;
      }
    }
  }
}
