.latest-ebook-section {
  width: 100%;
  height: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  //   border: 1px solid orangered;
  padding: 8.5rem 0;

  &__inner {
    height: 82%;
    width: $default-inner-width;
    // border: 1px solid #333;

    background-image: url("./assets/images/latest-ebook-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;

    display: inherit;
    flex-direction: column;
    gap: 1.85rem;
    padding: 2.5rem 3rem;
  }

  &__heading {
    font-size: 3.5rem;
    color: $color-primary;
  }

  &__text {
    width: 42%;
    display: inline-block;
    font-size: 1.82rem;
    color: #424446;
  }

  &__books {
    width: 33%;
    display: inherit;
    gap: 0.5rem;
    height: 20rem;
  }

  &__book {
    width: 100%;
    height: 100%;
  }
}
