.navbar {
  height: 9.5rem;
  padding: 4.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;

  &__container {
    height: 80%;
    // border-radius: 4.5px;
    width: $default-inner-width;
    background-color: $color-white;
    box-shadow: $navbar-box-shadow;

    display: inherit;
    align-items: center;
    justify-content: space-evenly;
  }

  &__part {
    &--2 {
      width: 50%;
    }
  }

  &__homelink {
    text-decoration: none;
  }

  &__list {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.65rem;
    display: flex;
    gap: 2.8rem;
    justify-content: center;

    &-href {
      cursor: pointer;
      text-decoration: none;
      color: $color-grey;

      &:active {
        font-weight: 600;
      }

      &:hover {
        color: #000;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 1.62rem;
  }

  &__button {
    width: 10rem;
    font-weight: 600;
    font-family: inherit;
    font-size: 1.65rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $color-primary;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &--login {
      color: $color-primary;
      background-color: $color-white;
    }

    &--register {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
